.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.inputContainer {
  width: 70%;
  height: auto;
  margin-bottom: 5%;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.input,
.feedback {
  margin-bottom: 20px;
}

.input::placeholder,
.feedback::placeholder {
  color: white;
}
