.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedbackSentSuccess,
.feedbackNotFilled {
  width: 358px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin: 5% 0 2% 0;
}

.userMessage,
.assistantMessage {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
  margin: 0.5rem 0;
  width: fit-content;
}

.userMessage::before,
.assistantMessage::before,
.userMessage::after,
.assistantMessage::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.userMessage {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}

.userMessage::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.userMessage::after {
  background-color: black;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.assistantMessage {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

.assistantMessage:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.assistantMessage::after {
  background-color: black;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.inputContainer {
  width: 70%;
  height: auto;
  margin-bottom: 5%;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.input,
.feedback {
  margin-bottom: 20px;
}

.input::placeholder,
.feedback::placeholder {
  color: white;
}
