.container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.mainHeading {
  font-size: 66px;
  font-weight: 700;
}

.tagLine {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 30px 0;
  color: #c7b8e7;
}

.getStartedButton {
  background: linear-gradient(
    267deg,
    #6721ff 27.93%,
    #00cbff 99.79%,
    #c8bdff -31.69%,
    #baa6ff -22.78%
  );
  border-radius: 30px;
  width: 250px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
}

.secondHeading {
  font-size: 60px;
  font-weight: 700;
  margin: 50px 0 50px 0;
}

.secondHeadingColor {
  background: linear-gradient(
    89.78deg,
    #c8bdff -31.69%,
    #baa6ff -22.78%,
    #6721ff 27.93%,
    #00cbff 99.79%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.offeringsContainer {
  display: flex;
  flex-direction: row;
}
