.container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  color: white;
  position: relative;

  @media screen and (max-width: 768px) {
    padding-top: 105px;
  }
}

.mainHeading {
  font-size: 66px;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
}

.tagLine {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 30px 0;
  color: #c7b8e7;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    margin: 20px 0;
  }
}

.secondHeading {
  font-size: 60px;
  font-weight: 700;
  margin: 50px 0;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin: 20px 0;
  }
}

.secondHeadingColor {
  background: linear-gradient(
    89.78deg,
    #c8bdff -31.69%,
    #baa6ff -22.78%,
    #6721ff 27.93%,
    #00cbff 99.79%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.offeringsContainer {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.privacyPolicyLink {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin: 40px 0;
}
