.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: auto;
  margin-bottom: 5%;
  color: white;
}

.emailForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.sendMessage {
  margin-left: 5px;
}
