.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  width: 180px;
}

.routes {
  @media screen and (max-width: 768px) {
    font-weight: 500;
  }
  color: white;
  font-size: 16px;
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.route {
  margin: 0 5px;
}
