.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.routes {
  @media screen and (max-width: 768px) {
    font-weight: 500;
  }
  color: white;
  font-size: 14px;
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
}

.route {
  margin: 0 5px;
}
