.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  z-index: 1000;
}

.sticky {
  background-color: #100424;
}

.logo {
  width: 180px;

  @media screen and (max-width: 768px) {
    width: 120px;
  }
}

.profilePicture {
  width: 36px;
  height: 36px;
  border: 2px solid #6736f5;
  border-radius: 50%;
  margin-right: 10px;
}

.route {
  color: white;
  margin: 0 5px;
}
