.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  width: 180px;

  @media screen and (max-width: 768px) {
    width: 120px;
  }
}

.routes {
  @media screen and (max-width: 768px) {
    display: none;
  }
  display: block;
  font-size: 16px;
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.route {
  color: white;
  margin: 0 5px;
}

.hamburgerMenu {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
