.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 385px;
  padding: 50px;
  margin: 0 10px;

  @media screen and (max-width: 768px) {
    width: 300px;
    padding: 25px;
    margin: 10px 0;
  }
}

.product {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 15px;
  color: #ffffff;
}
