.privateInvestigatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.privateInvestigatorHeading {
  @media screen and (max-width: 768px) {
    font-size: 22px;
  }

  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.tagLine {
  font-size: 22px;
  font-weight: 500;
  font-weight: 600;
  margin: 10px 0;
  color: #c7b8e7;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  color: white;

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.sendMessage {
  margin-left: 5px;
}

.feedbackContainer {
  width: 70%;
  height: auto;
  margin-bottom: 5%;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.input,
.feedback {
  margin-bottom: 20px;
}

.input::placeholder,
.feedback::placeholder {
  color: white;
}
